* {
    margin: 0;
}

body {
    background-color: #003A61;
}

img.logo {
    width: 7rem;
    margin-top: 1rem;
}

.oladiv {
    height: 100%;
    width: 100%;
    margin-top: -10%;
}

.servicio-text {
    display: flex;
    align-items: start;
    width: 100%;
}

.logo-nombre {
    color: #003A61;
    font-size: 3rem;
}

.logo-eslogan {
    color: #003A61;
    font-size:large;
}

div.head-top {
    display: flex;
    justify-content:space-around;
    align-items: center;
    background-color: white;
    padding-bottom: 15rem;
}

div.linea {
    margin-bottom: 2rem;
    border-style:solid;
    border-left:none ;
    border-bottom:none ;
    border-right:none ;
    border-top: #005a94 0.01rem solid;
    width: 100%;
}

a.nav {
    padding: 1rem;    
    border-width: 0.2rem;
    background-color: #005a94;
    border-radius: 1.35rem;
    color: white;
    margin-left: 0.5rem;
    text-decoration: none;
}

a.nav:hover {
    padding: 1rem;    
    border-width: 0.2rem;
    background-color: #0BC5E3;
    border-radius: 1.35rem;
    color: #005a94;
    margin-left: 0.5rem;
}

section.textos-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    gap: 1rem;
}

h1.h1-header {
    color: #a4eaff;
    font-size: 5rem;
}

h1.h1-header:hover {
    color: #c6dfef;
}

h2.h2-header {
    color: #1fcbff;
    font-size: 2rem;
}

h2.h2-header:hover {
    color: #c6dfef;
}


img.presentacion-butom {
    width: 100%;   
}

img.infoImage {
    width:70%;
    border-radius: 0.5rem;
    margin-left: 15%;
}

div.info {
    display: flex;
    justify-content: center;
    
    margin-top: 5rem;
    margin-bottom: 3rem;
}

h1.h1-infoText {
    margin-bottom: 0.5rem;
    color: rgb(190, 226, 237);
    border-bottom: white solid 0.005rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    font-size: 2.75rem;
}

p.p-infoText {
    color: rgb(193, 203, 232);
    font-size: 1.20rem;
}

a.correo {
    color: black;
}

section.servicios {
    width: 100%;
    padding-bottom: 2rem;
    background-color: #e6f1f8;
    padding-bottom: 10rem;
}

div.contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4rem;
}

div.servicio-cont {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 3rem;
}

div.servicio-ind {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

img.servicios-img {
    width: 135%;
    border-radius: 1.35rem;
}

.servicio-h3 {
    color: #003A61;
    margin-top: 1rem;
}

.servicio-p {
    color: #0071b9;
    margin-top: 0.5rem;
}
@font-face {
    font-family: 'MiFuentePersonalizada';
    src: url('bilbao.TTF') format('truetype');
  }
.servicios-titulo {
    color: #003A61;
    font-size: 3rem;
    font-family: 'MiFuentePersonalizada';;
}

div.contenedor-footer {
    display: flex;
    flex-direction: row;
    margin-top: 7rem;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

div.content-foo {
    display: flex;
    flex-direction: row;
    color: black;
} 


footer{
    background-color: #0071b9;
    height: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacto {
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    background-color: #e6f1f8;
    border-top: #0071b9 solid 0.75rem;
    border-left: #0071b9 solid 0.3rem;
    border-right: #0071b9 solid 0.3rem;
    border-radius: 1rem;
    width: 75%;
    margin-top: -5rem;
    padding-top: 2rem;
    padding-bottom: 12%;
}

.legal {
    display: flex;
    flex-direction: row;
    justify-content:center;
    gap: 5rem;
    width: 100%;
    margin-top: 2rem;
}

a.legal-link {
    color: white;
}

.content-logos {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
    flex-direction: row;
}

.content-foo2 {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    gap: 0.5rem;
}

img.red {
    width: 2rem;
    margin-right: 1rem;
}

img.footer-butom {
    margin-top: -6%;
    width: 77%;
}
